# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
.env/
.venv/

# PyCharm project files
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs, local environment files, etc.
*.log
.env
*.env
